//Variables SASS

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

$font-body: 'Epilogue';
$font-size-body: 16px;
$color-background: hsl(0, 0%, 98%);
$color-text: hsl(0, 0%, 41%);
$color-title-main: hsl(0, 0%, 8%);


//Declarar funciones

@function size($t) {
    @return $t*$font-size-body;
}

//importar partials o modules

@import 'universals';

//Asignar propiedades al body

body{
    font-family: $font-body;
    font-size: $font-size-body;
    background-color: $color-background;
}

//reglas anidadas

.nav {
    color: $color-text;
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__section-left{
        display: flex;
        width: max-content;
        border: 1px solid black;
        gap: 70px
    }

    &__list{
        display: flex;
        list-style: none;
        gap: 30px;
    }
}

