//Variables SASS

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

$font-body: 'Epilogue';
$font-size-body: 16px;
$color-background: hsl(0, 0%, 98%);
$color-text: hsl(0, 0%, 41%);
$color-title-main: hsl(0, 0%, 8%)